<h1>All Aboard!</h1>

<div ng-controller="BusCtrl">
  <h2>{{totalBuses()}} buses are scheduled for lunch.</h2>
  <div class="row">
    <div class="span4" ng-repeat="bus in buses">
      <h3>{{bus.destination}}</h3>
      <p>{{ bus.organizer }}</p>
      <p>Seats Available: {{ seatsAvailable(bus) }}</p>
      <div>
        <ul>
          <li ng-repeat="person in bus.passengers">
            {{ person }}
          </li>
        </ul>
      </div>
      <a href="#" ng-hide="user.onAnyBus" ng-show="seatsAvailable(bus) > 0" ng-click="hopOn(bus)" class="btn btn-primary">Hop On!</a>
      <a href="#" ng-show="userOnBus(bus)" ng-click="hopOff(bus)" class="btn btn-danger">Hop Off!</a>
    </div>
  </div>
</div>